services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: daily
    restart: always
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "24454:24454/udp"
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.21.11"
      PLUGINS: "https://cdn.modrinth.com/data/3wmN97b8/versions/fw2C2Wui/multiverse-core-5.4.0.jar,https://cdn.modrinth.com/data/qvdtDX3s/versions/YgwE3Cbi/multiverse-inventories-5.3.0.jar,https://cdn.modrinth.com/data/xFNYAvMk/versions/oLyH9Mpt/Skript-2.13.2.jar,https://cdn.modrinth.com/data/vtawPsTo/versions/xTnZkHQL/multiverse-netherportals-5.0.3.jar,https://cdn.modrinth.com/data/9eGKb6K1/versions/d5f6AAog/voicechat-bukkit-2.6.11.jar"
      SPAWN_PROTECTION: "0"
      VIEW_DISTANCE: "12"
      MEMORY: "4G"
      ENABLE_RCON: "TRUE"
      RCON_PASSWORD: "hardcore_secret"
    volumes:
      - ./data:/data

  sidecar:
    image: python:3.11-slim
    restart: always
    environment:
      RCON_HOST: "mc"
      RCON_PORT: "25575"
      RCON_PASS: "hardcore_secret"
      PYTHONUNBUFFERED: "1"
    volumes:
      - ./data:/data
      - ./mvinv_sync.py:/mvinv_sync.py
    command: python3 /mvinv_sync.py
